<footer class="bg-dark bg-opacity-75 text-light mt-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <h5>Notre boutique</h5>
        <p>Votre destination incontournable pour les dernières innovations électroniques. Des smartphones aux gadgets intelligents, découvrez l'avenir de la technologie. Service client exceptionnel et produits de qualité supérieure.</p>
      </div>
      <div class="col-md-4">
        <h5>Liens utiles</h5>
        <ul class="list-unstyled">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Produits</a></li>
          <li><a href="#">Promotions</a></li>
          <li><a href="#">Soldes</a></li>
          <li><a href="#">Offres spéciales</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contactez-nous</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-geo-alt-fill"></i> Akwa la falaise , Douala, Cameroun</li>
          <li><i class="bi bi-telephone-fill"></i> +237 620 566 890</li>
          <li><i class="bi bi-envelope-fill"></i> electrohouse237@gmail.com</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; 2024 ElectroHouse. Tous droits réservés.</p>
    </div>
  </div>
</footer>
