<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-opacity-75 bg-dark">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">
      {{!-- <img id="MDB-logo"
        src="https://mdbcdn.b-cdn.net/wp-content/uploads/2018/06/logo-mdb-jquery-small.png" alt="MDB Logo"
        draggable="false" height="30" /> --}}
        <div class="text-warning "><h1>ElectroHouse<span class="fs-5 text text-white">.com</span></div></h1>
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex align-items-center w-100 form-search" id="searchForm" >
        <div class="input-group">
          <button class="btn btn-warning  dropdown dropdown-toggle shadow-0" type="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="padding-bottom: 0.4rem;">
            All
          </button>
          <ul class="dropdown-menu dropdown-menu-dark fa-ul">
            <li>
              <a class="dropdown-item" href="#"><span class="fa-li pe-2"><i class="fas fa-search"></i></span>All</a>
            </li>
            <li>
              <a class="dropdown-item" href="categories/phones"><span class="fa-li pe-2"><i
                    class="fas fa-film"></i></span>Téléphones</a>
            </li>
            <li>
              <a class="dropdown-item" href="categories/ordinateurs"><span class="fa-li pe-2"><i class="fas fa-tv"></i></span>
                Ordinateurs</a>
            </li>
            <li>
              <a class="dropdown-item" href="categories/tablettes"><span class="fa-li pe-2"><i
                    class="fas fa-user-friends"></i></span>Tablettes</a>
            </li>
            <li>
              <a class="dropdown-item" href="categories/apple"><span class="fa-li pe-2"><i
                    class="fas fa-building"></i></span>Apple</a>
            </li>
            <li>
              <a class="dropdown-item" href="categories/lenovo"><span class="fa-li pe-2"><i
                    class="fas fa-building"></i></span>Lenovo</a>
            </li>
            <li>
              <a class="dropdown-item" href="categories/samsumg"><span class="fa-li pe-2"><i
                    class="fas fa-building"></i></span>Samsung</a>
            </li>
            <li>
              <a class="dropdown-item" href="categories/tecno"><span class="fa-li pe-2"><i
                    class="fas fa-building"></i></span>Tecno</a>
            </li>
          
            <li>
              <hr class="dropdown-divider" />
            </li>
          </ul>
          <input type="search" class="form-control" placeholder="Search" aria-label="Search" name="mysearch" />
        </div>
        <a href="#!" class="text-white"><i class="fas fa-search ps-3"></i></a>
        <button type="submit" class="btn btn-submit btn-warning">seach</button>
      </form>  
      
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body ms-lg-5">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">about us</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contacts
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">TEL: +237 620 566 890<</a></li>
              <li><a class="dropdown-item" href="#">TEL: +237 620 567 890<</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Email: MHD2@gmail.comm</a></li>
            </ul>
          </li>
        </ul>
      </div>

      

    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->




  
      