<div class="row bg-dark bg-opacity-25 p-2   border-radius border-warning border-3 m-2 d-flex justify-content-center" > 
    <h1 class="text-danger text-center">Les plus populaires</h1>  
    {{#each products}}
    {{> product}}
    {{/each}}
</div>
