<div class="row bg-light p-2 mt-3 d-flex justify-content-center" > 
    <div id="product-list">
        <div class="row d-flex justify-content-center">
            {{!-- <div cl></div> --}}
           {{#each products}}
           {{> product}}
           {{/each}}
        </div>
    </div>
    <div class="col-12 mt-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item ">
                <a class="page-link" id="prev" href="#" data-move="prev" data-category ="all">Previous</a>
                </li>
                {{#each pages}}
                    <li class="page-item"><a class="page-link" href="#" data-page="{{this}}" data-category ="all">{{this}}</a></li>
                {{/each}}
                <li class="page-item">
                <a class="page-link"  href="#" data-move="next" data-category ="all">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
