{{>navbar}}
<div class="row bg-dark bg-opacity-25  border border-1 m-2 d-flex justify-content-center text-center">
    <h1 class="text-danger">Promotions</h1>
    <div class="col-10 col-md-2 bg-white rounded mb-md-5 ">Profitez de cette <span class="text-warning bg-opacity-100">promotion</span> pour vous offir des produits d'excellente qualité à <span class="text-danger">petits prix</span> </div>
    <div class="d-flex justify-content-center col-md-10">
      
      <div class="row d-flex justify-content-center">
        
        <div class="col-5 col-md-3 p-5">
          {{>phonePromo}}
          <h5 class="pt-2 ">Téléphones</h5>
        </div>
        <div class="col-5 col-md-3  p-5">
          {{>pcPromo}}
          <h5 class="pt-2 ">Ordinateurs</h5> 
        </div>
        <div class="col-5 col-md-3  p-5">
          {{>phonePromo}}
          <h5 class="pt-2 ">Tablettes</h5>
        </div>
        <div class="col-5 col-md-3  p-5">
          {{>pcPromo}}
          <h5 class="pt-2 ">Autres</h5>
        </div>
      </div>
    </div>
</div>

<div class="row bg-danger bg-opacity-10 border border-1 m-2 d-flex justify-content-center text-center">
  <h1 class="text-danger">Soldes</h1>
  <div class="col-10 col-md-2 bg-white rounded mb-md-5">Jusqu'à <span class="text-danger">70%</span> de réduction sur nos produits du <span class="text-warning">premier au 31 decembre</span> </div>
    <div class="d-flex justify-content-center col-md-10">
      <div class="row d-flex justify-content-center">
        <div class="col-5 col-md-3  p-5">
          {{>phoneSolde}}
          <h5 class="pt-2 ">Téléphones</h5>
        </div>
        <div class="col-5 col-md-3  p-5">
            {{>pcSolde}}
            <h5 class="pt-2 ">Ordinateurs</h5>
        </div>
        <div class="col-5 col-md-3  p-5">
          {{>phoneSolde}}
          <h5 class="pt-2 ">Tablettes</h5>
        </div>
        <div class="col-5 col-md-3 p-5">
            {{>pcSolde}}
            <h5 class="pt-2 ">Autres</h5>
        </div>
      </div>
    </div>
</div>

<div class="row bg-dark bg-opacity-10 border border-1 m-2 d-flex justify-content-center text-center">
        <h1 class="text-danger">Offres spéciales</h1>
        <div class="col-10 col-md-2 bg-white rounded mb-md-5">Spéciale fin d'année: terminez l'année dans le bonneur chez <h5 class="text-warning">MHD</h5> </div>
    <div class="d-flex justify-content-center col-md-9">
      <div class="row d-flex justify-content-center ">
        <div class="col-5 col-md-3  p-5">
          {{>phoneSolde}}
        </div>
        <div class="col-5 col-md-3  p-5">
            {{>pcSolde}}
        </div>
        <div class="col-5 col-md-3  p-5">
          {{>phoneSolde}}
        </div>
        <div class="col-5 col-md-3 p-5">
            {{>pcSolde}}
        </div>
      </div>
    </div>
</div>


   
{{>populars}}
     
{{>products}}