<div class="row d-flex justify-content-center align-items-center m-5" style="height: 100vh;">
    <form action="/register/data" class="form col-md-4 bg-white p-5" method="post">
        <h1 class="text-danger m-5 text-center">CONNECTION</h1>
        <div>
            <label for="username" class="form-label">Username</label>
            <input id="username" name="username" class="form-control" type="text" autocomplete="username" required />
        </div>
        <div>
            <label for="current-password" class="form-label">Password</label>
            <input id="current-password" name="password" class="form-control" type="password" autocomplete="current-password" required />
        </div>
        <div>
            <button type="submit" class="btn btn-submit btn-outline-info mt-3">Sign in</button>
        </div>
    </form>
</div>